<footer>
    <div class="contenedor-footer">
        <div class="columna-footer">
            <h3>Sobre Ferretería G&M</h3>
            <p>La elección preferida para tus necesidades en herramientas y productos ferreteros. Estamos aquí para ayudarte en cada paso del camino en tus proyectos.</p>
        </div>
        <div class="columna-footer">
            <h3>Enlaces rápidos</h3>
            <ul>
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li><a href="productos.html" target="_blank">Productos</a></li>
                <li><a href="" target="_blank">Cuenta</a></li>
            </ul>
        </div>
        <div class="columna-footer">
            <h3>Redes Sociales</h3>
            <ul>
                <li>
                    <a href="https://www.facebook.com" target="_blank">
                        <i class="fab fa-facebook-f"></i> Facebook
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com" target="_blank">
                        <i class="fab fa-instagram"></i> Instagram
                    </a>
                </li>
                <li>
                    <a href="https://wa.me/573154870246" target="_blank">
                        <i class="fab fa-whatsapp"></i> WhatsApp
                    </a>
                </li>
            </ul>
        </div>
        <div class="columna-footer">
            <h3>Contáctanos</h3>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> ferreteriagym@gmail.com</li>
                <li><i class="fa-solid fa-phone"></i> +57 315 487 0246</li>
                <li><i class="fa-solid fa-location-dot"></i> Cl. 66 Bis Sur #18r2, Bogota, Colombia</li>
            </ul>
        </div>
    </div>
    
    <div class="parte-inferior-footer">
        <p>&copy; 2023 Ferretería G&M. Todos los derechos reservados.</p>
    </div>
</footer>

<script>
    let nav_var = document.getElementById("nav-bar");
    let menu_responsive = "oculto";

    nav_var.onclick = function() {
        if (menu_responsive == "oculto") {
            document.querySelector("nav").className = "active";
            menu_responsive = "visible"
        } else {
            document.querySelector("nav").className = "";
            menu_responsive = "oculto";
        }
    }
</script>

</body>
</html>